# Target and build output
target/
*.class

# Log files
*.log

# IDE & Editor files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
*.ctxt

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Operating System & Temp files
.DS_Store
Thumbs.db
hs_err_pid*
replay_pid*
.mtj.tmp/
